<nav>
  <div class="logo"><span>M</span>ustafa<span>.</span></div>
  <div class="nav-links">
    <ul class="nav-list">
      <li *ngFor="let link of navLinks"><a href="#footer">{{link}}</a></li>
      <li class="single">
        Single
        <div class="random-content">
          <h2>Lorem ipsum dolor sit amet.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laudantium, enim? Omnis voluptatem nemo eaque culpa,
            consequuntur nisi voluptatum tempora magni!
          </p>
        </div>
      </li>
      <li><a href="mailto:mk2639087@gmail.com" target="_blank">Contact US</a></li>
    </ul>
    <div class="telefon">
      <i class="fas fa-phone-alt"></i>
      <a href="tel:27136813">+(20)11-560-197-41</a>
      <!--if you clicked on the number in a phone it will call the number in the href. -->
    </div>
  </div>
</nav>
